<div class="language-section">
  <!-- <div class="card"> -->
    <h2>Idiomas</h2>
  <!-- </div> -->

  <div class="card">
    <form (ngSubmit)="AgregarLanguage()">
      <label for="language">Idioma</label>
      <input
        type="text"
        id="language"
        class="txt"
        name="name"
        placeholder="Escribe aqui"
        [(ngModel)]="myLanguage.language"
      />

      <label for="level">Nivel</label>
      <input
        type="text"
        id="level"
        class="txt"
        name="level"
        placeholder="Escribe aqui"
        [(ngModel)]="myLanguage.level"
      />

      <button type="submit" class="btn">Nuevo</button>
    </form>
  </div>

  <div class="card">
    <h3>Tus idiomas</h3>
    <div *ngFor="let language of languages; let i = index" class="life-container language-container">
      <div class="langugage-language">
        <strong>{{ language.language }}</strong>
      </div>
      <div class="progress-bar">
        <div class="progress-fill" [style.width.%]="language.level"></div>
      </div>
      <button type="button" class="btn danger" (click)="deleteLanguage(language.id)">Borrar</button>
    </div>
  </div>  
</div>
